{% extends "plantillappal.html" %}
{% block particular %}
<div class="cajita">
    <p style="font-size: 200%">¡¡Bienvenido!!</p>
    <p style="font-size: 120%">Mirate estos enlaces</p>
    <ul>
        <li> 
            <a href="{{ url_for('check') }}"> Paridad del último carácter del nombre de host</a>
        </li>
            <ol>
                <li> Par -> Rojo
                <li> Impar -> Azul
                <li> Letra -> Verde
            </ol>
        <li><a href="{{ url_for('metecosas') }}"> Calculemos &#960; </a></li>
    </ul>
</div>
{% endblock %}